<div class="footer">
  <footer>
    <mat-grid-list cols="1" rowHeight="70px">
      <!-- <mat-grid-tile>
        <p class="text-center">Copyright &#0169; 2020-2020 All Rights Reserved.</p>
      </mat-grid-tile> -->

      <mat-grid-tile>
        <p fxFlex="100" class="text-center">
          Tibia is a registered trademark of CipSoft GmbH. Tibia and all
          products related to Tibia are copyright by CipSoft GmbH.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </footer>
</div>
